@import "../global";
@import '~jquery-ui/themes/base/all.css';

// COLORS
$default:       #172b4d !default;
$primary:       #5e72e4 !default;
$secondary:     #f7fafc !default;
$success:       #38c172 !default;
$info:          #4dc0b5 !default;
$warning:       #f6993f !default;
$danger:        #e3342f !default;

// Coreui
@import '~@coreui/coreui/scss/coreui';
@import '~@coreui/icons/css/free.min.css';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// CUSTOM


.commissions-status-table, .winnings-status-table {
    tr {
        width: 100%;
        display: inline-table;
        table-layout: fixed;
    }

    table{
        height:420px;
        display: block;
    }

    tbody{
        overflow-y: scroll;
        height: 400px;
        width: 98%;
        position: absolute;

    }
}
