option_settings:
    - namespace: aws:elasticbeanstalk:container:php:phpini
      option_name: document_root
      value: /public
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: APP_NAME
      value: Dropball
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: APP_DEBUG
      value: true

