option_settings:
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: COMPOSER_HOME
      value: /root
    - namespace: aws:elasticbeanstalk:container:php:phpini
      option_name: document_root
      value: /public
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: APP_NAME
      value: Dropball
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: APP_DEBUG
      value: true
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: LOG_CHANNEL
      value: stack
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: LOG_LEVEL
      value: debug
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: SESSION_DRIVER
      value: file
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: QUEUE_CONNECTION
      value: sync
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: CACHE_DRIVER
      value: file
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: BROADCAST_DRIVER
      value: log
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: SESSION_LIFETIME
      value: 120
